.box{
   width:16em;
    background-color:green;
    position:relative; 
 /* full animation properties*/
  animation-name:lk;   
 animation-duration:5s;
animation-timing-function: ease-in-out;
 animation-delay:2s; 
 animation-iteration-count:infinite;
 }

/*keyframe for the aniamation*/
@keyframes lk{
      0%{
        top:0;
         left:0;
         background-color:red;
      }
    50%{
       top:300px;
       left:300px;
       background-color:green;
       width:500px;
        height:500px;
        }
      100%{
          top:0;
          left:0;
          background-color:blue;
         width:100px;
         height:100px;
               }
        }
 
